.tab-tipo1 .tab-content {
    color : white;
    padding : 5px 15px;
}

.tab-tipo2 h3 {
    color : white;
    padding : 5px 15px;
}

/* remove border radius for the tab */

.tab-tipo1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

.tab-tipo3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

.tab-tipo3 .tab-content {
    color : white;
    padding : 5px 15px;
}

.row-intab {
    padding-left: 15px;
    padding-right: 15px;
}

.tab-content {
    margin-top: 20px;
}