    {% extends 'base.html.twig' %}
    {% block title %}Home{% endblock %}

    {% block body %}
        <div class="jumbotron bg-white pading-container">
            <h2 class="titulo-pagina">Lista de Reservas Ativas</h2>
            {%  for usuario in usuarios %}
                (( usuario.nome }}
            {%  endfor %}
            <div class="row">
                <div class="col-xs-12 col-md-12 overflow">
                    <table class="table table-striped table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Usuário</th>
                            <th class="text-center">Sala</th>
                            <th class="text-center">Data</th>
                            <th class="text-center">Hora</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%  for reserva in reservas %}
                        <tr>
                            <th scope="row">{{ reserva.idReserva }}</th>
                            <td>####</td>
                            <td class="text-center pointer">####</td>
                            <td class="text-center pointer">{{ reserva.dataHora | date('d-m-Y') }}</td>
                            <td class="text-center pointer">{{ reserva.hora }}</td>
                        </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block javascripts %}{% endblock %}

