{% extends 'base.html.twig' %}

{% block body %}
    <h1>Criar Sala</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Criar" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('sala_index') }}">Voltar a lista</a>
        </li>
    </ul>
{% endblock %}
